<div class="login-box">
  <div class="card border-0 rounded-0">
  <div class="logo"><img src="images/logo.png" alt="Bata Logo"></div>
  <form class="mt-4">
  <div class="login-text mb-4"><span>LOGIN</span> HERE</div>
  <div class="input-container">
  <input type="text" autocomplete="off"  required="required" />
  <label for="Username">User Name</label>
  <div class="bar"></div>
  </div>
  <div class="input-container">
  <input type="password" autocomplete="off"  required="required" />
  <label for="Password">Password</label>
  <div class="bar"></div>
  </div>
  
  <input type="button" value="LOGIN" class="btn btn-primary login_btn border-0 rounded-0">
  </form>
  <div class="forgot-password text-center ft-14"><a href="">Forgot Password?</a></div>
  </div>
  </div>
