<main class="container rounded p-3 mt-3">
  <div class="ribbon p-2 mb-3 rounded-top">
  <div class="nav-name">Decorators</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Ng For Example</h5>
      </div></div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>S.N.</th>
            <th>Name</th>
            <th>age</th>
            <th>Mobile Number</th>
            <th>first loop</th>
            <th>Last loop</th>
            <th>Even</th>
            <th>Odd</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stud of students; let i=index; let f=first; let l=last; let ev=even; let od=odd" >
            <td>{{i+1}}</td>
            <td>{{stud.name}}</td>
            <td>{{stud.age}}</td>
            <td>{{stud.mobileNumber}}</td>
            <td>{{f}}</td>
            <td>{{l}}</td>
            <td>{{ev}}</td>
            <td>{{od}}</td>
          </tr>
          
        </tbody>
      </table>
 </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Track By Example</h3>
        </div></div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>age</th>
              <th>Mobile Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stud of students; let i=index" >
              <td>{{i}}</td>
              <td>{{stud.name}}</td>
              <td>{{stud.age}}</td>
              <td>{{stud.mobileNumber}}</td>
            </tr>
            
          </tbody>
        </table>
   </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Group ngFor by Example</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
           <ul>
            <li *ngFor="let group of countryDetail">{{group.country}}
                <ul>
                  <li *ngFor="let person of group.people">{{person.name}}</li>
                </ul>


            </li>

           </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Example of ngStyle</h3>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-12">
            <ul *ngFor="let person of  people">
              <!-- <li [ngStyle]="{'color': getcolor(person.country)}">{{person.name}}--------{{person.country}}</li> -->
            </ul>
                </div>  
              </div>


              <div class="row">
                <div class="col-md-12">
                  <h3>attribute  example</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                        <tr >
                          <th [attr.colspan]="colsp">student table</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <td>Name</td>
                          <td>age</td>
                          <td>Mobile No</td>
                          
                        </tr>
                        <tr >
                          <td>Deepak Mishra</td>
                          <td>32</td>
                          <td>8287774111</td>
                          
                        </tr>
                      </tbody>
                    </table>    
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h3>event example</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button (click)="showdata();">Show data</button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <h3>two way data binding example</h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                          <!-- <input [value]='data' (input)='data = $event.target.value'> -->
                          <!-- {{data}}  -->
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <h3>two way data binding with ng model example</h3>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                               <input [(ngModel)]='data1' class="form-control"> 
                             {{data1 | uppercase }} 
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <h3>pipe example</h3>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                   {{dob | date:"medium"}} <br/>
                                   {{dob | date:"dd/MM/YY"}}<br/>
                                   {{dob | date:"mediumTime"}}<br/>
                                   {{money | currency:"INR":true}}<br/>
                                   Full Date : {{dob | date:"fullDate" | uppercase}}

                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-12">
                                      <h3>jasion data with pipe example</h3>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                       {{employee | slice:1:3 | json }} <br/>
                                       
    
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-12">
                                          <h3>custom pipe</h3>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <table class="table">
                                              <thead>
                                                <tr >
                                                  <th>Roll no.</th>
                                                  <th>Name</th>
                                                  <th>Gender</th>
                                                  <th>age</th>
                                                
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let student of Schoolstudent " >
                                                  <td>{{student.Rollno}}</td>
                                                  <td>{{student.name}}</td>
                                                  <td>{{student.gender}}</td>
                                                  <td>{{student.Age}}</td>
                                                 
                                                  
                                                  
                                                </tr>
                                            
                                              </tbody>
                                            </table> 
        
                                            </div>
                                          </div>


                                          <div class="row">
                                            <div class="col-md-12">
                                              <h3>Custom button</h3>
                                              <input [(ngModel)]='username' class="form-control"> 
                                              {{username}}
                                              <br/>
                                              <button (click)="proilrPgr()">redirect to profile page</button>
                                              </div>
                                            </div>




  </main>
