<main class="container rounded p-3 mt-3">
  <div class="ribbon p-2 mb-3 rounded-top">
  <div class="nav-name">My Profile</div>
  </div>
  <div class="d-flex my-profile p-3 mb-3">
  <div class="profile-img mr-4"><img src="assets/images/profile.jpg" alt="Profile Image"></div>
  <div class="profile-user-detail">
  <div class="profile-name ft-20">Deepak Mishra</div>
  <div class="profile-designation mb-3">Senior Software Engineer</div>
  <div class="profile-email mb-1"><i class="fa fa-envelope-o"></i> <a href="mailto:deeppak.mishra@velocis.co.in">deeppak.mishra@velocis.co.in</a></div>
  <div class="profile-mobile"><i class="fa fa-phone"></i>  82877741111</div>
  </div>
  </div>
  
  
  <div class="profile-detail row">
  <div class="col-lg-6">
  <div class="profile-cat pt-1 pb-1 pl-3 pr-3 font-weight-5 ft-16">Personal Information</div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Employee Name :</div>
  <div class="profile-text ml-3">Sachin Singh</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Date of Birth :</div>
  <div class="profile-text ml-3">01-01-1990</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Gender :</div>
  <div class="profile-text ml-3">Male</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">PAN Number :</div>
  <div class="profile-text ml-3">AKWER9546T</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Aadhar No :</div>
  <div class="profile-text ml-3">123456789</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Contact No :</div>
  <div class="profile-text ml-3">9898989898</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Personal Email ID :</div>
  <div class="profile-text ml-3"><a href="mailto:sachin.singh@velocis.co.in">sachin.singh@velocis.co.in</a></div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Employee Name :</div>
  <div class="profile-text ml-3">Sachin Singh</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Employee Name :</div>
  <div class="profile-text ml-3">Sachin Singh</div>
  </div>
  
  <div class="profile-cat pt-1 pb-1 pl-3 pr-3 font-weight-5 ft-16">Family Information</div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Father'S Name :</div>
  <div class="profile-text ml-3">Mr. Singh</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Marital Status :</div>
  <div class="profile-text ml-3">Married</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Spouse Name :</div>
  <div class="profile-text ml-3">Mrs. Singh</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Date of Marriage :</div>
  <div class="profile-text ml-3">01-01-2015</div>
  </div>
  
  </div>
  <div class="col-lg-6">
  <div class="profile-cat pt-1 pb-1 pl-3 pr-3 font-weight-5 ft-16">Job Information</div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Employee ID/Salary Code :</div>
  <div class="profile-text ml-3">132546</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Function/Department :</div>
  <div class="profile-text ml-3">Software</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Sub-Function/ Department :</div>
  <div class="profile-text ml-3">Software</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Designation :</div>
  <div class="profile-text ml-3">Senior Software Engineer</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Division :</div>
  <div class="profile-text ml-3">Software</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Location :</div>
  <div class="profile-text ml-3">Noida</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Date of Joining :</div>
  <div class="profile-text ml-3">03-04-2004</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Official Email ID :</div>
  <div class="profile-text ml-3"><a href="mailto:deepak.mishra@velocis.co.in">Deepak.mishra@velocis.co.in</a></div>
  </div>
  <div class="profile-cat pt-1 pb-1 pl-3 pr-3 font-weight-5 ft-16">Supervisor Information</div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Supervisor Code :</div>
  <div class="profile-text ml-3">4234234</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Supervisor Name :</div>
  <div class="profile-text ml-3">Deepak Mishra</div>
  </div>
  <div class="profile-field pl-3 pr-3 d-flex mt-1 mb-3">
  <div class="profile-label">Supervisor Email ID :</div>
  <div class="profile-text ml-3"><a href="mailto:deepak.mishra@velocis.co.in">deepak.mishra@velocis.co.in</a></div>
  </div>
  </div>
  
  
  </div>
  <div></div>

  </main>
 
  