<main class="container rounded p-3 mt-3">
  <div class="ribbon p-2 mb-3 rounded-top">
  <div class="nav-name">Job Posting</div>
  </div>
  <form>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <label for="des">Job Title:</label>
  <input type="text" class="form-control" value="">
  </div>
  <div class="form-group">
  <label for="des">Job Description:</label>
  <textarea class="form-control"></textarea>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <div class="form-group">
  <label for="des">Year of Experience:</label>
  <input type="text" class="form-control" value="">
  </div>
  <div class="form-group">
  <label for="des">Department:</label>
  <select class="form-control">
  <option>--Select--</option>
  </select>
  </div>
  <div class="form-group">
  <label for="des">Location:</label>
  <select class="form-control">
  <option>--Select--</option>
  </select>
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
  <label for="training">Designation:</label>
  <select class="form-control">
  <option>--Select--</option>
  </select>
  </div>
  <div class="form-group">
  <label for="des">Region:</label>
  <select class="form-control">
  <option>--Select--</option>
  </select>
  </div>
  </div>
  </div>
  <div class="form-submit d-flex justify-content-center mt-2">
  <input type="button" class="submit-button btn btn-primary align-self-center" value="Submit">
  </div>
  </form>
  </main>
