$bdr-color: #ced4da;
$color-white: #fff;
$color-black: #000;
$color-nav1: #5a5655;
$color-nav2: #5293ad;
$color-nav3: #e8749b;
$color-nav4: #c1bda2;
$color-nav5: #59aff0;
$color-nav6: #d19731;
$color-brand: #e2001a;
$color-yellow: #fdad3c;
$color-l-blue: #eef1f6;
$color-gray1: #f3f3f3;
$color-gray: #f9f9f9;
$color-gray2: #b2b2b2;
$color-gray3: #5a5655;
$color-gray4: #495057;
$color-ddd: #ddd;
$color-999: #999;
$color-default: #212529;
$color-brand-active: #bb0318;
$color-graph1 : #46bfbd;
$color-graph2 : #f7464a;
$color-graph3 : #fdb45c;


$twenty4: 24px;
