$bdr-color: #ced4da;
$color-gray: #aaa;
$color-white: #fff;
$color-black: #000;
$color-nav1: #6bbb28;
$color-nav2: #5293ad;
$color-nav3: #e8749b;
$color-nav4: #c1bda2;
$color-nav5: #59aff0;
$color-nav6: #d19731;
$color-brand: #e2001a;
$color-yellow: #fdad3c;
$color-l-blue: #eef1f6;
$twenty4: 24px;
$tab-bg: #ececec;
$color-gray1: #c1c0be;
$color-gray2: #585858;