.main-login{position: absolute; left: 200px;}
.main-login:before{content: ""; height: 115px; display: block; position: absolute; top: 0px; left: 20px; border-left: 2px solid #5a5655; z-index: 9;}
.main-login:after{content: ""; height: 115px; display: block; position: absolute; top: 0px; right: 20px; border-left: 2px solid #5a5655; z-index: 9;}
.login-box{height: 400px; width: 400px; background-color: #fff; margin-top: 100px; padding: 2rem; box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); border-top: 2px solid #e2001a;}
.login-box:before{content: ""; height: 12px; width: 12px; background: #b2b2b2; display: block; border-radius: 50%; position: absolute; top: 110px; left: 15px;}
.login-box:after{content: ""; height: 12px; width: 12px; background: #b2b2b2; display: block; border-radius: 50%; position: absolute; top: 110px; right: 15px;}
.login-box .logo{width: 75px; margin-bottom: 8px;}
.login-box form{padding: 0 0px;}
.login-box input{width: 100%;}
.login-box .alert{position: absolute; top: 175px; left: 0; margin: auto; right: 0; width: 370px;}
.login-text span{color: #e2001a; font-weight: 500; font-size: 18px;}
.login_btn{background-color: #e2001a !important; padding: 6px 4px !important;}


@media (max-width: 768px){
    .main-login{position: static;}
    .login-box{position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
    .login-box:before, .login-box:after, .main-login:after, .main-login:before{display: none;}
    .login-box form {padding: 0 15px;}
}